<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
<style >
h4 {
color: white;
padding-top: 20px;
padding-bottom: 20px;
background-color:#90CAF9;
text-align: center;
border-radius: 5px;


}
.azul {
background-color:#42A5F5;
}
.azul:hover{
background-color: #90CAF9;
}
.borde {
border-style: solid;
}
</style>
  </head>

  <body>
    <div class="container">
  <div class="row push-m2">
    <div class="col s12">
      <h4>Login De Usuarios</h4>

     <form class= "borde" action="">
  <input type="text" placeholder="Usuario" />
  <input type="password" placeholder="Clave" />
       <a href="" class="btn azul btn-block">entrar</a>
</form>
    </div>


  </div>

</div>


  </body>
</html>
